@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/functions";

* {
    font-family: 'Share Tech Mono', monospace;
    color: #fff;

    letter-spacing: 0px;
}

body {
    background-color: #1d1d20;
    background-repeat: repeat;
    background-size: initial;
}


// @import "./main.container";
